@media only screen and (max-width: 1100px) {

    .wrapWeather.on {
        display: block;
        position: absolute;
        top: 0;
        width: 100vw;
        height: 1500px;
        z-index: 9;
    }

    .containerWeather {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 400px;
        height: 950px;
        background-color: white;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    }

    /* left */
    .leftInfo {
        display: flex;
        flex-direction: column;
        flex-direction: 1 1 0;
        padding-left: 0;
        padding-bottom: 60px;
    }
}

@media only screen and (max-width: 625px) {
    .wrapWeather.on {
        display: block;
        position: absolute;
        top: 0;
        width: 100vw;
        height: 1300px;
        z-index: 9;
    }

    .containerWeather {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 350px;
        height: 900px;
        background-color: white;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    }
}