.overlaybox {
  position: relative;
  padding: 10px 10px;
}

.overlaybox div,
ul {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.overlaybox li {
  list-style: none;
  width: 230px;
}

#map > div > div > div > div:last-child {
  border-radius: 20px;
  width: 250px !important;
  height: 100%;
  border: 0px solid rgb(118, 129, 168) !important;
}

.overlaybox .first {
  position: relative;
  width: 230px;
  height: 125px;
  border-radius: 15px;
  background: url("../img/markerBg.jpg") no-repeat;
  background-size: cover;
  margin-bottom: 8px;
}

.first .text {
  color: #fff;
  font-weight: bold;
}

.first .movietitle {
  position: absolute;
  width: 100%;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  padding: 7px 15px;
  font-size: 14px;
}

.overlaybox ul {
  width: 247px;
}

.overlaybox li {
  position: relative;
  margin-bottom: 2px;
  padding: 5px 10px;
  line-height: 1;
  text-align: center;
}

.overlaybox li span {
  display: inline-block;
}

.overlaybox li .number {
  font-size: 13px;
  font-weight: bold;
}

.overlaybox li .title {
  font-size: 13px;
}

.overlaybox li:hover {
  color: white;
  background: #737373;
}

select {
  -o-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
