* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

a {
    color: inherit;
}
                                      
#imgContainer {
    width: 500px;
    height: 500px;
    margin : 5em auto;
    overflow: hidden;
    position: relative;
    border-radius: 15px;
}

#imgContainer .imgBox {
     width: 100%;
    display: flex;
    transition : all 0.5s
}

#imgContainer .imgBox .img img{
    border-radius: 10px;
}

#imgContainer .imgButton {

    position:absolute;
    bottom: 0;
    left: 50%;
    transform : translateX(-50%);

}

#imgContainer .imgButton .btn {
    margin : 0 0.1em;
    background-color: rgb(255, 255, 255);
    width: 15px;
    height: 15px;
    border-radius: 50px;
    border: none;
    box-shadow: 3px 0.5px 20px rgb(172, 172, 172);
}

