* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

a {
  color: inherit;
}

body {
  overflow-x: hidden;
}

.wrap {
  height: 200vh;
}

.container {
  height: 100vh;
  overflow: hidden;
}

.header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  background: linear-gradient(to right, rgb(87, 7, 255), rgb(191, 7, 255));
  font-size: 20px;
  color: white;
  z-index: 9999;
}

.header .logo img {
  width: 280px;
}

.header .login:hover {
  cursor: pointer;
}

.header .login span {
  font-weight: 600;
}

.home {
  cursor: pointer;
  position: fixed;
  top: 65px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 55px;
  height: 55px;
  border-radius: 50px;
  background-color: white;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  transition: all 0.5s;
  z-index: 9999;
}

.home.on {
  width: 350px;
}

.home .homewrap {
  display: flex;
  white-space: nowrap;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 350px;
  font-size: 20px;
  font-weight: 600;
  color: #3a3a3a;
}

.home .homewrap li {
  flex: 2;
  padding: 0 10px;
}

.home .homewrap li:nth-child(1):hover {
  color: #5707ff;
}

.home .homewrap li:nth-child(1):hover {
  color: #5707ff;
}

.home .homewrap li:nth-child(2):hover {
  color: #5707ff;
}

.home .homewrap li:nth-child(3):hover {
  color: #5707ff;
}

.home .homewrap li:nth-child(2) {
  flex: 1;
}

.home .homewrap li:nth-child(2) i {
  animation: cloud 2.5s ease infinite;
}

@keyframes cloud {
  0% {
    transform: translateY(0px);
  }

  10% {
    transform: translateY(-3px);
  }

  20% {
    transform: translateY(0px);
  }

  30% {
    transform: translateY(-3px);
  }

  40% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(0px);
  }
}
