/* loginPage1 */
.loginPage1 {
  display: none;
  text-align: center;
  width: 650px;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 9;
  padding: 9rem 6rem;
  border-radius: 30px;
  border: 1px dotted rgba(74, 74, 238, 0.712);
}

.loginPage1 h2 {
  position: relative;
  bottom: 4rem;
  font-size: 3rem;
  color: #5707ff;
}

.loginPage1 .inputfield {
  display: flex;
  align-items: center;
  margin: 25px 10px;
  border-radius: 3px;
  background-color: #eaeaea;
}

.inputfield i {
  margin-left: 15px;
  color: #999;
  cursor: pointer;
}

input {
  width: 100%;
  background-color: transparent;
  border: 0;
  outline: 0;
  padding: 18px 15px;
}

.btngroup {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.btngroup button {
  flex-basis: 48%;
  background-color: #5707ff;
  height: 55px;
  border-radius: 35px;
  border: 0;
  outline: 0;
  margin-top: 50px;
  color: white;
  font-size: 1.1rem;
}

.sXmark {
  position: absolute;
  top: 3%;
  right: 3%;
  font-size: 2rem;
  width: 2.5rem;
  height: 2.5rem;
  background-color: #bf07ff;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  cursor: pointer;
}

/* loginPage2 */

.loginPage2 {
  display: none;
  text-align: center;
  width: 650px;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 1;
  padding: 9rem 6rem;
  border-radius: 30px;
  border: 1px dotted rgba(74, 74, 238, 0.712);
  z-index: 9;
}

.loginPage2 h2 {
  position: relative;
  bottom: 4rem;
  font-size: 3rem;
  color: #5707ff;
}

.loginPage2 .inputfield {
  display: flex;
  align-items: center;
  margin: 25px 10px;
  border-radius: 3px;
  background-color: #eaeaea;
}

.inputfield i {
  margin-left: 15px;
  color: #999;
  cursor: pointer;
}

input {
  width: 100%;
  background-color: transparent;
  border: 0;
  outline: 0;
  padding: 18px 15px;
}

.btngroup {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.btngroup button {
  flex-basis: 48%;
  background-color: #5707ff;
  height: 55px;
  border-radius: 35px;
  border: 0;
  outline: 0;
  margin-top: 50px;
  color: white;
  font-size: 1.1rem;
}

.lXmark {
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 2rem;
  width: 2.5rem;
  height: 2.5rem;
  background-color: #bf07ff;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  cursor: pointer;
}
